.card{
    margin-left: 30vw;
}
.list-group-item{
    float: left;
    font-weight: bolder;
}
span{
    float: right;
}
.btn{
    float: right;
}
.a{
    text-decoration: none;
    color: red;
}
.a:hover{
    color: white;
}
b{
    color: orange;
}