/* Main css styleshhets */
/* import font  */
@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  background: #136a8a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #267871,
    #136a8a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #267871,
    #136a8a
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: "Ubuntu", sans-serif;
  color: white;
}

/* add contact  */
.updateContact {
  padding-top: 5rem;
  position: relative;
  left: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  flex-direction: column;
  font-size: 1.2rem;
}

.updateContact input {
  font-size: 1.2rem;
  margin: 5%;
  padding: 3%;
  border: 1px solid rgb(124, 123, 123);
  background: #136a8a; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #267871,
    #136a8a
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #267871, #136a8a);
  color: white;
}
.updateContact input[type="submit"] {
  color: rgb(218, 216, 216);
  position: relative;
  left: 22%;
  padding-top: 3%;
  padding-bottom: 3%;
  border-radius: 5px;
  border: none;
  font-size: 1.1rem;
  font-weight: bolder;
  background: #06beb6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #48b1bf,
    #06beb6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #48b1bf,
    #06beb6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  cursor: pointer;
}

